# Database PostgreSQL Supabase
DATABASE_URL="postgresql://postgres.iisimtqcplpqnnijtxpf:[YOUR-PASSWORD]@aws-0-ap-southeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.iisimtqcplpqnnijtxpf:[YOUR-PASSWORD]@aws-0-ap-southeast-2.pooler.supabase.com:5432/postgres"

# Supabase Storage & API
NEXT_PUBLIC_SUPABASE_URL="https://iisimtqcplpqnnijtxpf.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="[YOUR-SUPABASE-ANON-KEY]"

# Kredensial Admin Lokal
ADMIN_SECRET_KEY="admin123"
